@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-gray-200 dark:bg-gray-900 m-0 p-0;
  caret-color: transparent;
}
input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
input, textarea {
  caret-color: auto;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-white dark:bg-gray-800;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-200 dark:bg-gray-800;
}