@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-gray-200 dark:bg-gray-900 m-0 p-0;
  caret-color: transparent;
}
input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
input, textarea {
  caret-color: auto;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-white dark:bg-gray-800;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-800 rounded-3xl;
}
.scrollable-container {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #f1f1f1; /* Firefox */
}

.rbc-toolbar .rbc-btn-group button {
  @apply text-gray-900 dark:bg-gray-200 mx-[2px];
}

.rbc-toolbar .rbc-btn-group button:hover {
 @apply bg-gray-500 text-gray-100 dark:bg-gray-800 dark:text-gray-200;
}

.rbc-toolbar .rbc-toolbar-label {
  @apply text-xl font-thin text-gray-800 dark:text-white;
}
.rbc-toolbar .rbc-btn-group .toolbar-btn-addEvent {
  @apply text-primary-600 dark:bg-primary-200 dark:text-gray-700;
}
.rbc-toolbar .rbc-btn-group .toolbar-btn-addEvent:hover {
  @apply bg-primary-600 text-gray-200 dark:bg-primary-300 dark:text-gray-800;
}
